.*.swp
firmware.model
inittab.tmp
inittab.draft
plb.bno
.last_build_model
fakeroot_*
*.csv
build_log*
profiles/pkgversion.lock
tmp/*
fetched/*
tools/host/bin/*
staging/
images/
objtree/
kernel.kdump/
kernel.sys/
upgdr-objtree/
project.mk/
build_error.log
buildlab.conf
