# vim: set syntax=make:

BLD_CONFIG_ARCH=ramips
BLD_CONFIG_SMP=y
BLD_CONFIG_KERNEL_CONFIG=balance_ramips
# BLD_CONFIG_KERNEL_KDUMP_CONFIG is not set
BLD_CONFIG_FW_MODEL_LIST=aponeac
BLD_CONFIG_BALANCE=y
# BLD_CONFIG_BALANCE_FULL_FEATURE is not set
BLD_CONFIG_BALANCE_KMOD=y
# BLD_CONFIG_CLI is not set
# BLD_CONFIG_GOBI is not set
# BLD_CONFIG_MODEM is not set
# BLD_CONFIG_MODEM_ADVANCE is not set
BLD_CONFIG_EUDEV=y
BLD_CONFIG_WIFI=y
BLD_CONFIG_WLAN_10_2=y
BLD_CONFIG_LINUX_WIRELESS_PACKAGE=y
BLD_CONFIG_WIFI_MONITOR=y
BLD_CONFIG_LINUX_BACKPORTS=y
BLD_CONFIG_WLC=y
BLD_CONFIG_TCPDUMP=y
BLD_CONFIG_SPEEDFUSION=y
BLD_CONFIG_LIBSWITCH=y
BLD_CONFIG_SWCONFIG=y
BLD_CONFIG_IOTOOLS=y
# BLD_CONFIG_DM_CRYPT_PARTITION is not set
# BLD_CONFIG_RESIZE_FS is not set
BLD_CONFIG_ENCRYPT_FIRMWARE=y

BLD_CONFIG_KERNEL_V5_10=y

BLD_CONFIG_USE_SQUASHFS4=y
BLD_CONFIG_USE_SFS=y
# BLD_CONFIG_RDISK_SIZE is not set

# BLD_CONFIG_DCS is not set
# BLD_CONFIG_SERIALNET is not set

BLD_CONFIG_WAN_STATS=y
# BLD_CONFIG_IPV6 is not set

# BLD_CONFIG_CRYPTO_FIPS_COCO_FIRMWARE is not set
BLD_CONFIG_CAPTIVE_PORTAL=y
BLD_CONFIG_OPENSSH=y
# BLD_CONFIG_OPENSSH_LEGACY is not set

# BLD_CONFIG_SAMBA is not set
# BLD_CONFIG_SAMBA_WINS_ONLY is not set
# BLD_CONFIG_ST_FIRMWARE is not set
# BLD_CONFIG_ST_OLED is not set
BLD_CONFIG_INCONTROL=y
BLD_CONFIG_FWKEY_V3_ED25519=y
BLD_CONFIG_PACKET_INSPECTION=y
BLD_CONFIG_HOSTAP_PTHREAD=y
