# vim: set syntax=make:

BLD_CONFIG_ARCH=ramips
BLD_CONFIG_SMP=y
BLD_CONFIG_KERNEL_CONFIG=balance_ramips
#BLD_CONFIG_KERNEL_KDUMP_CONFIG=balance_ramips_kdump
BLD_CONFIG_FW_MODEL_LIST=pwmdcsm
BLD_CONFIG_BALANCE=y
#BLD_CONFIG_BALANCE_FULL_FEATURE=y
BLD_CONFIG_BALANCE_KMOD=y
BLD_CONFIG_CLI=y
#BLD_CONFIG_GOBI=y
#BLD_CONFIG_MODEM=y
#BLD_CONFIG_MODEM_ADVANCE=y
BLD_CONFIG_EUDEV=y
BLD_CONFIG_WLC=y
BLD_CONFIG_TCPDUMP=y
BLD_CONFIG_SPEEDFUSION=y
#BLD_CONFIG_DM_CRYPT_PARTITION=y
BLD_CONFIG_ENCRYPT_FIRMWARE=y
#BLD_CONFIG_RESIZE_FS=y
BLD_CONFIG_LIBREMOTESIM=y
BLD_CONFIG_REMOTESIM=y

BLD_CONFIG_KERNEL_V5_10=y
#BLD_CONFIG_KERNEL_V4_9=y
#BLD_CONFIG_KERNEL_V3_6=y
BLD_CONFIG_WIFI=y
BLD_CONFIG_WLAN_10_2=y
BLD_CONFIG_LINUX_WIRELESS_PACKAGE=y
BLD_CONFIG_LINUX_BACKPORTS=y
BLD_CONFIG_WIFI_MONITOR=y
BLD_CONFIG_PCIUTILS=y

BLD_CONFIG_USE_SQUASHFS4=y
BLD_CONFIG_USE_SFS=y
BLD_CONFIG_DCS=y

BLD_CONFIG_LIBSWITCH=y
BLD_CONFIG_SWCONFIG=y
BLD_CONFIG_IOTOOLS=y
BLD_CONFIG_IPSET=y
BLD_CONFIG_SERIALNET=y
BLD_CONFIG_SIGNAL_BAR=y

BLD_CONFIG_WAN_STATS=y
#BLD_CONFIG_IPV6=y

#BLD_CONFIG_CRYPTO_FIPS_COCO_FIRMWARE=y
BLD_CONFIG_CAPTIVE_PORTAL=y

BLD_CONFIG_OPENSSH=y
#BLD_CONFIG_OPENSSH_LEGACY=y

#BLD_CONFIG_SAMBA=y
#BLD_CONFIG_SAMBA_WINS_ONLY=y
BLD_CONFIG_ST_FIRMWARE=y
BLD_CONFIG_ST_OLED=y
BLD_CONFIG_INCONTROL=y

BLD_CONFIG_FWKEY_V3_ED25519=y

#BLD_CONFIG_LORAWANGW=y
#BLD_CONFIG_BLUETOOTH=y
#BLD_CONFIG_PACKET_INSPECTION=y
