# vim: set syntax=make:

BLD_CONFIG_ARCH=powerpc
BLD_CONFIG_SMP=y
BLD_CONFIG_KERNEL_CONFIG=balance_pismo80x_smp
BLD_CONFIG_KERNEL_KDUMP_CONFIG=balance_pismo80x_kdump
BLD_CONFIG_FW_MODEL_LIST=pwmhd4
BLD_CONFIG_BALANCE=y
BLD_CONFIG_BALANCE_FULL_FEATURE=y
BLD_CONFIG_BALANCE_KMOD=y
BLD_CONFIG_CLI=y
BLD_CONFIG_GOBI=y
BLD_CONFIG_MODEM=y
BLD_CONFIG_MODEM_ADVANCE=y
BLD_CONFIG_EUDEV=y
BLD_CONFIG_WIFI=y
BLD_CONFIG_WLAN_10_2=y
BLD_CONFIG_LINUX_BACKPORTS=y
BLD_CONFIG_LINUX_WIRELESS_PACKAGE=y
BLD_CONFIG_WIFI_MONITOR=y
BLD_CONFIG_WLC=y
BLD_CONFIG_TCPDUMP=y
BLD_CONFIG_SPEEDFUSION=y
#BLD_CONFIG_DM_CRYPT_PARTITION=y
#BLD_CONFIG_RESIZE_FS=y
BLD_CONFIG_LIBREMOTESIM=y

BLD_CONFIG_KERNEL_V5_10=y
#BLD_CONFIG_KERNEL_V4_9=y
#BLD_CONFIG_KERNEL_V3_6=y
BLD_CONFIG_PCIUTILS=y

#BLD_CONFIG_USE_SFS=y
#BLD_CONFIG_DCS=y

BLD_CONFIG_LIBSWITCH=y
BLD_CONFIG_SWCONFIG=y
BLD_CONFIG_IOTOOLS=y
BLD_CONFIG_IPSET=y
BLD_CONFIG_SERIALNET=y
#BLD_CONFIG_SIGNAL_BAR=y

BLD_CONFIG_IPV6=y

#BLD_CONFIG_CF_LICENSE=y
#BLD_CONFIG_BALANCE_FRONTPANEL=y
#BLD_CONFIG_LAN_BYPASS_UTILS=y

# Security
#   Enable only one (or none) from below security module (utils doesn't count)
#   _APPARMOR_UTILS for dev. only; requires Python3
#BLD_CONFIG_SECURITY_TOMOYO=y
BLD_CONFIG_SECURITY_APPARMOR=y
#BLD_CONFIG_SECURITY_APPARMOR_UTILS=y

BLD_CONFIG_MEDIAFAST_BUILT_IN=y
BLD_CONFIG_MEDIAFAST_WEBPROXY=y
BLD_CONFIG_MEDIAFAST_CONTENTHUB=y
#BLD_CONFIG_MEDIAFAST_DOCKER=y
#BLD_CONFIG_MDM=y
BLD_CONFIG_WAN_STATS=y

# BLD_CONFIG_CRYPTO_FIPS_COCO_FIRMWARE not set
BLD_CONFIG_PACKET_INSPECTION=y
BLD_CONFIG_CAPTIVE_PORTAL=y

BLD_CONFIG_OPENSSH=y
# BLD_CONFIG_OPENSSH_LEGACY is not set

BLD_CONFIG_SAMBA=y
#BLD_CONFIG_SAMBA_WINS_ONLY=y
BLD_CONFIG_ST_FIRMWARE=y
BLD_CONFIG_ST_OLED=y
BLD_CONFIG_INCONTROL=y

BLD_CONFIG_FWKEY_V3_ED25519=y
BLD_CONFIG_FWKEY_LEGACY_V2_DOWNGRADE=y
BLD_CONFIG_NETFLOW=y

BLD_CONFIG_ZIXI=y
BLD_CONFIG_LPA=y
