# vim: set syntax=make:

BLD_CONFIG_ARCH=ar7100
#BLD_CONFIG_SMP=y
BLD_CONFIG_KERNEL_CONFIG=ar724x_max_otg
BLD_CONFIG_FW_MODEL_LIST=pwmaxotg pwmsoho pwmaxbr1
BLD_CONFIG_BALANCE=y
#BLD_CONFIG_BALANCE_FULL_FEATURE=y
BLD_CONFIG_BALANCE_KMOD=y
BLD_CONFIG_CLI=y
BLD_CONFIG_GOBI=y
BLD_CONFIG_MODEM=y
BLD_CONFIG_MODEM_ADVANCE=y
BLD_CONFIG_EUDEV=y
BLD_CONFIG_WIFI=y
BLD_CONFIG_WLAN_LEGACY=y
#BLD_CONFIG_WLC=y
BLD_CONFIG_TCPDUMP=y
BLD_CONFIG_SPEEDFUSION=y
#BLD_CONFIG_DM_CRYPT_PARTITION=y
#BLD_CONFIG_RESIZE_FS=y
BLD_CONFIG_LIBREMOTESIM=y

BLD_CONFIG_KERNEL_V2_6_28=y
#BLD_CONFIG_KERNEL_V3_6=y

BLD_CONFIG_USE_SFS=y
#BLD_CONFIG_DCS=y

BLD_CONFIG_SWCONFIG=y
BLD_CONFIG_IOTOOLS=y
BLD_CONFIG_IPSET=y
BLD_CONFIG_SERIALNET=y
BLD_CONFIG_SIGNAL_BAR=y

BLD_CONFIG_WAN_STATS=y
#BLD_CONFIG_IPV6=y

BLD_CONFIG_CAPTIVE_PORTAL=y
# BLD_CONFIG_OPENSSH is not set
BLD_CONFIG_OPENSSH_LEGACY=y

#BLD_CONFIG_SAMBA=y
#BLD_CONFIG_SAMBA_WINS_ONLY=y

#BLD_CONFIG_MEDIAFAST_BUILT_IN=y
#BLD_CONFIG_MEDIAFAST_WEBPROXY=y
BLD_CONFIG_MEDIAFAST_CONTENTHUB=y
#BLD_CONFIG_MEDIAFAST_DOCKER=y
BLD_CONFIG_ST_FIRMWARE=y
BLD_CONFIG_ST_OLED=y
BLD_CONFIG_INCONTROL=y
BLD_CONFIG_NETFLOW=y
