Makefile
arch/Makefile
arch/linux/Makefile.template
arch/linux/os.lo
arch/linux/x86_64/.deps/
arch/linux/x86_64/Makefile
arch/linux/x86_64/libarch.a
arch/linux/x86_64/platform.lo
autom4te.cache/
config.h
config.h.in
config.h.in~
config.log
config.status
fakeroot-ng
stamp-h1
tests/.deps/
tests/Makefile
tests/calc_defaults
tests/calc_defaults.o
tests/exercise
tests/exercise.o
tests/fbomb
tests/fbomb.o
tests/pwd
tests/pwd.o
tests/wait_test
tests/wait_test.o
